@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

body{
  background-color: #FFFAE6;
}

.App{
  position: relative;
}

textarea{
  resize: none;
}